.start-team-btn {
  background: #8dc63f; 
  border-width: 0px !important;
  padding: 10px 32px; 
  margin: 0 10px;
  margin-bottom: 17px;
}

.comp-teams-btn {
  background:#f67b61; 
  border-width: 0px !important;
  padding:10px 32px; 
  margin: 0 10px;
  margin-bottom: 17px;
}

.join-team-btn {
  background:#8dc63f; 
  border-width: 0px !important;
  padding: 4px 15px;
  font-size: 17px;
  font-style: italic;
}


.leave-team-btn {
    background: darkgray; 
    border-width: 0px !important;
    padding: 5px 10px; 
    margin: 5px;
}

.contact-admin-btn-new {
    background: #f67b61; 
    border-width: 0px !important;
    padding: 8px 12px; 
    margin: 5px;
}


.sort-btns{
  cursor: pointer;
}

.sort-btns:hover{
    color:#8dc63f;
    transform: scale(1.03);
    transition: .4s ease-in-out;
}

.start-team-btn:hover{
    background:#517325; 
    transition: .15s ease-in-out;
  }
.comp-teams-btn:hover{
    background:#b35846; 
    transition: .15s ease-in-out;
}

.join-team-btn:hover{
  background:#517325; 
  transition: .15s ease-in-out;
}
.contact-admin-btn-new:hover{
  background:#b35846; 
  transition: .15s ease-in-out;
}
.leave-team-btn:hover {
    background: #616161; 
    transition: .15s ease-in-out;
}
.contact-admin-btn:hover {
  background:#b35846; 
  transition: .15s ease-in-out;
}

.team-img{
  height:80px !important; 
  width:80px !important; 
  object-fit: contain !important;
 
}

.fake-show{
  opacity: 0 !important;
}
.team-btn-edit{
  padding:0px 8px !important;
}
.make-me-dark{
  color:#373535 !important;
}

.make-me-dark p{
  color:#373535 !important;
}
.acc-item{
  color:#848484 !important;
  cursor: pointer;
}
.acc-item:hover{
  color: #8dc63f !important; 
  transition: .4s ease-in-out;
}
.story-name{
  display: inline;
    margin-top: 140px;
    background: #8dc63f;
    padding: 3px 20px 3px;
    border-radius: 55px;
    font-size: 11px;
    font-weight: 800;
    color:white;
}
.fa-m-right{
  margin-right:7px;
}
.okay-btn{
  background:white; 
  border-radius: 55px; 
  padding:5px 15px;
  margin:6px;
  color:black;
  font-weight: 600;
  cursor:pointer;
}
.okay-btn:hover{
  background:#f67b61; 
  color:white; 
  transition: .4s;
  
}

.ash-paper{
  margin-top: 11px;
  border:solid 0px rgb(141, 198, 63); 
  border-top-width: 20px;

  text-align: left;
  width:100%; 
  padding:20px 50px; 
  min-height: 150px;
  background:#f1faf44a; 
  border-radius: 10px;
}
.m-label{
  border-radius: 4px;
    font-weight: 900;
    padding: 3px 10px;
    background: #e8e6e6;
    margin:4px 9px;
}
.td{
  position:absolute !important;
}

.todo-correction{
  float:left;
}

.header-logo{
  max-width: 150px;
  max-height: 100px;
  margin-left: 30px;
  margin: 10px;
}

/* ========= PC EXCLUSIVE ===== */

@media only screen and ( min-width: 785px){
  .more-hyperlink{
    font-size:15px !important;
    font-weight: 700;
    margin:3;
    cursor:pointer;
    color:#f67b61;
  }
  .more-hyperlink:hover{
    color:#8dc63f; 
    transition: .4s;
  }
  
  .mob-homepage-chart-h{height:250px !important}
  
  .done-it-correction{
    float: right;
    margin-top: -21px !important;
    right: 184px !important;
  }
  .done-it{
    position: absolute !important;
    right:170px !important; 
    top:0px !important;
    margin-bottom: 30px;
  }
  .toast-bar{
    padding: 17px 30px ;
      text-align: center;
      /* position: fixed; */
      bottom: 0px;
      width: 98%;
      z-index: 30;
      background: #8dc63f;
      left: 0px;
      margin: 10px;
      color: white;
      right: 190px;
      border-radius: 6px;
  }
  .pc-icon-div-container-fix{
    margin-top:-110px
  }
  .filter-search-input{
    width:120%;
    padding:10px 25px !important; 
    border:solid 1px #eafff3; 
    border-radius:55px;
    margin-left:-15px !important;
  }
  
  .mob-modal-p{
    padding-top:25px; 
    padding-right:20px;
    text-align: justify;
    margin: 20px;
    max-height: 500px;
    overflow-y: scroll;
  }
  .pc-vanish{
    display:none;
  }
}
/* MOBILE PHONE AREA */


@media only screen and ( max-width: 785px){



  .phone-big-title{
    font-size:1.6rem !important;
  }
  .phone-medium-title{
    font-size: 1rem !important;
  }
  .mob-team-title{
    font-size:16px !important; 
    font-weight: 600;
  }

  .mob-team-text{
    font-size:15px !important;
  }
  .more-hyperlink{
    font-size:17px !important;
    font-weight: 700;
    margin:3;
    cursor:pointer;
    color:#f67b61;
  }
  .more-hyperlink:hover{
    color:#8dc63f; 
    transition: .4s;
  }
  
  .green-done-it-correction{
    position: absolute !important; 
    right:30% !important;

  }
  .done-it{
    position: absolute !important;
    right:80px !important; 
    top:0px !important;
    margin-bottom: 30px;
  }

  .done-it-correction{
    float: right;
    margin-top: -22px !important;
    right: 30% !important;
  }
  .mob-line-break{
    display:block;
  }
  .mob-cancel-title-white{
    margin-bottom: 10px !important;
  }
  .mob-font-lg{
    font-size:1rem !important;
  }
  .mob-helper{
    margin-top:67px;
  }
  .toast-bar{
    padding: 17px 30px ;
      text-align: center;
      /* position: fixed; */
      bottom: 0px;
      width: 98%;
      z-index: 30;
      background: #8dc63f;
      left: -7px;
      margin: 10px;
      color: white;
      right: 190px;
      border-radius: 6px;
  }
  .pt-3 h1{
    font-size:21px !important;
  }
  
  .mob-story-form-tweak{
    padding:31px 7px !important;
  }
  .mob-event-cards-fix{
    padding-right:0px !important;
  }
  .mob-event-white-cleaner{
    margin-top:-65px !important;
  }
  .mob-contact-white-cleaner{
    margin-top:-45px;
  }
 .mob-contact-form-tweak{
   padding:19px !important;
 }

  .mob-zero-padding{
    padding:0px !important;
  }
  .mob-zero-margin{
    margin:0px !important;
  }
  .filter-search-input{
    width:110%;
    padding:10px 25px !important; 
    border:solid 1px #eafff3; 
    border-radius:55px;
    margin-left:-15px !important;
  }
  

  .mob-modal-pic-tweak{
    height:60px !important; 
    width:60px !important; 
    top: -35px !important; 
    left:12px !important;
  }
  .mob-modal-close-x{
    background-color: white;
    top:-20px !important; 
    right:8px !important;
  }
  .mob-modal-title{
    font-size:16px;
  }
  .mob-modal-p{
    padding-top:30px; 
    padding-right:20px;
    font-size:13px; 
    text-align: justify;
    max-height:420px; 
    overflow-y:scroll;
  }
  .mob-modal-card{
    top:16% !important; 
    width:97% !important;
    left:15% !important;
    height:550px !important;
  }
  .card1{
    left:20px !important;
  }
  .card2{
    left:30px !important;
  }
  .mob-profile-card-fix{
    position:absolute !important;
    height: 170px !important;
    padding:1px 42px !important;
  }

  .mob-icon-fix{
    margin-bottom: -13px !important;
    margin-top: 10px !important;
    margin-left: 10px !important;
  }

  .h6-card-fix{
    font-size:.7rem !important;
  }
  .mob-login-white-cleaner{
    margin-top:-20px !important;
  }
  .mob-title-fix{
    font-size:1.45rem !important;
  }
  .mob-sweet-b-10{
    margin-bottom:10px !important;
  }
  .mob-login-card-fix{
    padding:28px 35px !important;
  }
  .mob-vendor-white-cleaner{
    margin-top:-100px !important;
  }

  
  .mob-icon-white-fix{
    margin-top:-107px !important;
    margin-bottom:-70px !important;
  }
  .phone-vanish{
    display:none !important;
  }
  .action-pic-fix{
    margin-top:40px !important;
  }
  .mob-btn-left-fix{
    position: absolute !important;
    margin-top: 7px;
    left:48%; 

  }
 
  .mob-pad-absolute-0{
    padding: 0px !important;
  }
  .mob-margin-absolute-0{
    margin:0px !important;
  }
  
  .mob-our-impact-div{
    height: 30px !important; 
    margin: 0px !important;
  }
  .mob-event-section{
    padding-top:10px !important;
  }
  .mob-homepage-chart-h{
    height:280px !important;
  }
  .mob-pad-0{
    padding:0px !important;
  }
  .mob-margin-0{
    margin:0px !important;
  }
  .mob-impact-pad-fix{
    padding:35px !important;
  }
  .mob-actions-page-padding-remove{
    padding-right:0px !important;
  }
  .mob-testy-card-fix{
    left:-17px;
  }
  .mob-appear{
    display:block !important;
  }

  .land-textbox{
    margin:0px !important;
    margin-bottom:15px !important;
  }
}
/*  ====== END END END END ========== */

.mob-appear{
  display:none;
}
.mob-actions-page-padding-remove{
  padding-right:40px;
}

.land-textbox{}
.mob-impact-pad-fix{}
.mob-pad-0{}
.mob-testy-card-fix{}
.mob-event-section{}
.mob-btn-left-fix{}
.mob-pad-absolute-0{}
.mob-margin-absolute-0{}
.mob-our-impact-div{}
.testi-green-monster{
  height:130px;
  z-index:0;
  object-fit: contain;
    display: inline-block;
    border: solid 2px #beda9f;
    width: auto;
    border-radius: 100%;
    padding: 10px;
    position: absolute;
    top: -65px;
    left: 28px;
    background: white;
}
.testi-modal-pic{
  height:130px;
  z-index:0;
  object-fit: cover;
 
    display: inline-block;
    border: solid 2px #beda9f;
    width: 130px;
    border-radius: 100%;
    padding: 0px;
    position: absolute;
    top: -65px;
    left: 28px;
    background: white;
}

.energize-link{
  text-decoration: none;
  color:#97b36b ;
}
.energize-link:hover{
  color:#dd4b39; 
  transition: .4s ease-in-out;
}
/* one - #c63f3f 
   two - #dc3545
   three - #a0337e
   
*/
.testi-card{
  border:soild 1px lightgray; 
  padding:15px; 
  margin:5px;
  margin-bottom:170px;
  margin-right: -63px !important;

}
.testi-anchor{
  text-decoration: underline;
  font-size: 14px;
  margin-bottom:7px;
  color: #c63f3f;
}


.testi-more{
  width:100%;
  cursor:pointer;
  margin-right: 10px;
  /* float: right;  */
  clear: both;
  font-size:12px;
  border:solid 1px #f6c7cb; 
  border-radius: 55px;
  padding: 11px 50px;
  outline: 0 !important;
}
.testi-more:hover{
  background:green; 
  color: white;
  border-color: green;
  transition: .5s ease-in-out;
  

}
.testi-para{
  width: 100%;
  position: absolute;
  z-index: 2;
  min-height: 276px;
  background: white;
  padding:20px;
  margin-top: -87px;
  border-radius: 9px;
  
}
.testi-para:hover{
  transform:scale(1.05);
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.testi-img{
  height:220px; 
  width:100%; 
  object-fit: cover;
  border-radius: 15px;
  z-index: 0;

}
.g-back{
  padding: 10px 25px;
  border: solid 1px lightgray; 
  border-radius: 55px; 
  margin-bottom: 10px;
}

.g-back:hover{
  background:'green'; 
  color:'white'; 
  border-color:green;
  transition: .4s ease-in-out;
}
.sm-tag-hover:hover{
  background:darkred; 
  color:white !important; 
  border-color: darkred !important;
  transition: .4s ease-in-out;
}
.d-one{
  background:#c63f3f;
}
.d-two{
  background:#dc3545;
}
.d-three{
  background:crimson;
}
::-webkit-scrollbar {
  width: 0px;
  height:0px
  
}



.indiv-done-it-orange{
  background:#ff7600 !important; 
  color:white !important; 
  cursor:pointer;
}
.indiv-done-it{
  background:gray !important; 
  color:white !important; 
  cursor:pointer;
}
.indiv-done-it-orange:hover{
  background:gray !important; 
  transition: .1s ease-in-out;
}
/* .indiv-done-it:hover{
  background:#ff7600 !important; 
  transition: .1s ease-in-out;
} */
.vendor-hover:hover{
  -webkit-box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  transition:.4s ease-in-out;
}

::-webkit-scrollbar-track {
  background:white;
  -webkit-box-shadow: 0 0 0; 
  border-radius: 10px;
  opacity:.2;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background:#eaeae6;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}
.force-height-event{
  height:190px !important;
}
.m-form-outer{
  padding:25px;
  border:solid 1px lightgray; 
  border-radius:10px; 
  min-height: 500px; 
  max-height: 500px;
  margin-bottom: 30px;
}
.m-btn{
  padding:10px 30px; 
  border-radius:55px;
  margin:9px;
}

.m-textbox{
  padding:20px; 
  font-size:16px;
  margin:6px 0px;
}

.loc-banner{
  padding:20px !important;
  background-color:#344038 !important;
}
.pref-height{
  min-height:265px !important; 
  max-height:265px !important;
}

.home-events-img{
  width:100%; 
  height:260px !important; 
  object-fit: cover;
}
.home-event-hover:hover{
  -webkit-box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  transition:.4s ease-in-out;
}

.zero-margin-btm{
  margin-bottom: 0px !important;
}
.cursor{
  cursor:pointer !important;
}
.font-textbox{
  padding:30px 40px;
  font-size:18px; 
  margin:30px;
}
.whitish{
  color:'white !important';
}
.raise-my-text{
  text-shadow: -1px 1px 1px #a5a5a5;
}
.com-domain-link{
  color:#17865d !important; 
  border:solid 1px #f1efef;
  padding:10px 15px;
  margin:0px;
  background:white;
  border-radius: 100px;
  cursor:pointer;
}
.com-domain-link:hover{
  border-color:White;
  -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  transition: .2s ease-in-out;
}
.mass-domain-link{
  color:white; 
  border:solid 1px #ed5a14;
  padding:10px 25px;
  margin:0px;
  background:#ed5a14;
  border-radius: 100px;
  cursor:pointer;
}
.mass-domain-link:hover{
  color:white;
  -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  transition: .2s ease-in-out;
}
.hover-service-item{
  -webkit-box-shadow:0 2px 0px 0 rgba(0,0,0,-0.84),0 2px 0px 0 rgba(0,0,0,.12);
  box-shadow:0 2px 0px 0 rgba(0,0,0,-.84),0 2px 10px 0 rgba(0,0,0,.12)
}
.toggle-filter-button{
  border:solid 1px greenyellow; 
  padding:12px; 
  margin:10px 0px;
  color:black;
  font-size: 1rem;
}

.m-service-title{
  color:#383838 !important;
}
.toggle-filter-button:hover{
  cursor:pointer; 
  background: greenyellow; 
  color:black; 
  transition: .4s;
  
}

.cool-font{
  font-family:'Google Sans', sans-serif !important;
}

.m-action-item{
  border-radius:12px;
  cursor:pointer; 
  border-color: #f3f3f3 !important;

}
.cart-t-bar{
  background: #8dc63f !important; 
  border-bottom-right-radius: 10px; 
  border-bottom-left-radius: 10px;
}

.line-me{
  display:inline-block;
}
.m-action-item:hover{
  -webkit-box-shadow:0 2px 0px 0 rgba(0,0,0,-0.84),0 2px 0px 0 rgba(0,0,0,.12);
  box-shadow:0 2px 0px 0 rgba(0,0,0,-.84),0 2px 10px 0 rgba(0,0,0,.12)
}
.action-btns{
  padding:10px 20px !important;
  border-radius:100px !important;
}
.new-sign-in{
  border-radius:200px;
  border:solid 2px #8dc63f; 
  padding:10px 16px; 
  font-size:14px; 
  cursor:pointer;
  color:white;
  background:#8dc63f;
  margin:18px;
  outline: 0 !important;
}
.m-cart-header{
  padding:11px; 
  background:#8dc63f !important; 
  color:white !important;
  font-size:19px;
  font-weight: 600;
  border-bottom-right-radius: 10px; 
  border-bottom-left-radius: 10px;
}
.m-footer-color{
  background:#232f3e !important;
}
.b-footer-color{
  background:#282828 !important;
}
.print-cancel-style{
  padding: 10px 84px !important;
  border-color:crimson !important;
  border-radius: 155px !important;
}
.combo-box-wrapper{
  border-radius: 6px;
  padding:7px; 
  background:rgb(245, 255, 222) !important; 
  margin:4px;
}
.select-undefault{
  border-width: 0px !important; 
  background:transparent !important;
}
.count-cardy{
  /* border:solid 1px lightgray !important;  */
  border-radius: 11px;
  margin:2px 5px !important;
}
.summary-finish{
  border:solid 1px #e8730f;
  background:#e8730f;
   outline:none;
  color:white;
  border-radius: 100px !important; 
  padding: 15px 37px !important;
}

.summary-finish:hover{
  background:white; 
  color:#e8730f; 
  border-color:#e8730f;
  transition:  .4s ease-in-out;

}
.btn-finishing{
  border-radius: 100px !important; 
  padding: 10px 37px !important;
}
.new-sign-in:hover{
  background:gray; 
  border-color:gray;
  color:white;
  transition: .4s;
}
.desc-modal-container{
  position:fixed; 
  width:100%; 
  height:100%;
  background:black; 
  opacity:.6;
  z-index:100;
}


.modal-box{
  position: fixed;
    top: 30%;
    left: 22%;
    margin-top: -50px;
    margin-left: -50px;
    height: 50%;
    width: 60%;
    background: white;
    z-index: 101;
    padding:25px;
    border-radius: 10px;
}



.mass-engergize-about{
  padding:25px; 
}
.community-about-text{
  /* padding:25px; */
}
.modal-close-x{
    position: absolute; 
    right: 35px; 
    cursor:pointer;
    border:solid 1px #298b00; 
    padding:4px 9px;
    color:#585858;
}

.round-me{
  border-radius:100px !important;
}

.push-to-right{
  right:-140px;
}
.modal-close-x:hover{
  background:#ff7600;
  border-color:#ff7600;
  color:white; 
  transition: .4s;
}

.contact-admin-btn{
  font-size: 13px;
  font-weight: 700;;
  background:#73626f; 
  border-radius: 5px;
  padding:7px 11px;
  cursor:pointer;
  color:white;
}
.contact-admin-btn:hover{
  background:#8dc63f; 
  color:white; 
  transition: .4s ease-in-out;
}

.raise-2{
  box-shadow: 0px 1px 1px #9E9E9E;
}
.raise{
  box-shadow: 0px 1px 2px #9E9E9E;
}
.z-depth-1-half{
  box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
}
.z-depth-1{
  -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)
}
.z-depth-2{
  -webkit-box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)
}
.z-depth-3{
  -webkit-box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19)}
.z-depth-4{
  -webkit-box-shadow:0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21);
  box-shadow:0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21)}
.z-depth-5{
  -webkit-box-shadow:0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22);
  box-shadow:0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22)}
  