


.me-anime-fade-in-up{
  animation-delay: 1s;
  animation: me-fade-in-up 1s forwards;
}
@keyframes me-fade-in-up{
  from{
    transform: translateY(150px);
    opacity:0
  }
  to{
    transform: translateY(0px);
    opacity:1;
  }
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@keyframes g-spin-circle {
  0% {
    transform: rotate(0);
    animation-timing-function: linear;
  }
  
  100% {
    transform: rotate(360deg);
  }
}
